
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Website, have a look around</h2>

<div class="jumbotron">
    <h1>Housekeeping</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Housekeeping Chores</h2>
        <p>
            Chores listed by person, place, and type.
        </p>
        </div>
   
    
</div>